# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Firebase
.firebase/
firestore.indexes.json
firestore.rules
storage.rules
database.rules.json

# EAS cache
*.eas-cache/

# macOS
.DS_Store

# VSCode
.vscode/

# Logs
*.log

# Optional build outputs
build/